/* src/components/Contabilidad.css */
.contabilidad-container {
  text-align: center;
  padding: 20px;
}

.btn-rentas {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-rentas:hover {
  background-color: #45a049;
}
