/* ProtocolistTable.css */
.table-container {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

th {
  background-color: var(--table-header-background);
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr:nth-child(even) {
  background-color: var(--table-row-background);
}

tr:hover {
  background-color: var(--table-row-hover);
}

.protocolist-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Incrementa el espacio entre los elementos */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(135deg, #f0f0f0, #ffffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Ajustado para aprovechar mejor el espacio */
  margin: 20px auto;
}

.protocolist-form input {
  padding: 12px; /* Incrementa el padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.protocolist-form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.protocolist-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.protocolist-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px; /* Incrementa el padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
