body.register-page {
  background: linear-gradient(135deg, #f0f4c3, #dcedc8);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-container {
  width: 60%; /* Aumenta o reduce según sea necesario */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.register-container h2 {
  text-align: center;
  color: #2c3e50;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
  font-size: 24px;
}

.register-container form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para una distribución uniforme */
  gap: 20px;
}

.register-container form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #2c3e50;
  font-weight: bold;
}

.register-container form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.register-container form input:focus {
  border-color: #239426;
  outline: none;
}

.register-container form input[name="email"] {
  grid-column: span 2; /* Ocupa toda la fila */
}

.register-container form input[type="text"]:not([name="email"]) {
  text-transform: uppercase;
}

.register-container form button {
  grid-column: span 2; /* Botón ocupa toda la fila */
  padding: 15px;
  background-color: #239426;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 18px;
  font-weight: bold;
}

.register-container form button:hover {
  background-color: #1b7e21;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .register-container {
    width: 100%;
    padding: 20px;
  }

  .register-container h2 {
    font-size: 20px;
  }

  .register-container form {
    grid-template-columns: 1fr; /* En pantallas pequeñas, el formulario es de una columna */
  }

  .register-container form label {
    font-size: 14px;
  }

  .register-container form input {
    font-size: 12px;
    padding: 10px;
  }

  .register-container form button {
    font-size: 16px;
    padding: 12px;
  }
}
