@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/* Variables globales */
:root {
  --background-color: #f0fdf4;
  --text-color: #000;
  --table-row-background: #e6f4ea;
  --table-row-hover: #c2e0b6;
  --table-header-background: #2eb135;
  --nav-background-color: #2eb135;
  --nav-hover-background-color: #239426;
  --btn-danger-bg: #dc3545;
  --btn-danger-hover-bg: #c82333;
  --highlight-background: #c8f7c5;
  --highlight-text: #000;
  --nav-link-color: white;
  --nav-link-hover-color: #f4f4f4;
  --main-font: "Open Sans", sans-serif;
  --heading-font: "Merriweather", serif;
}

/* Estilos globales */
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--heading-font);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

/* Barra de navegación */
.nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  background-color: var(--nav-background-color);
  height: 100%;
  padding: 60px 20px;
  transition: left 0.3s ease;
  z-index: 999;
}

.nav.open {
  left: 0;
}

.nav-link {
  color: var(--nav-link-color);
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  display: block;
  text-align: center;
}

.nav-link:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-link-hover-color);
}

button {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--nav-background-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--nav-hover-background-color);
}

/* Tablas */
.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: var(--table-header-background);
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: var(--table-row-background);
}

tbody tr:hover {
  background-color: var(--table-row-hover);
}
